.bordes {
    border: 2px solid var(--color-fuente3);
    border-radius: 0.8rem;
}


.lista-prod {
    display: flex;
    justify-content: space-around;
    align-self: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.lista-prod li {
    flex: 0 0 calc(25% - 0.5rem);
}

@media only screen and (max-width: 990px) {
    .lista-prod li {
        flex-basis: calc(33% - 0.5rem);
    }

}

@media only screen and (max-width: 768px) {
    .lista-prod li {
        flex-basis: calc(50% - 0.5rem);
    }
}

@media only screen and (max-width: 550px) {
    .lista-prod li {
        flex-basis: calc(85%);
    }
}