.head tr {
    font-size: calc(1.8rem + 1vw);
    color: var(--color-fuente3);
}


.body {
    font-size: calc(0.8rem + 1vw);
    color: var(--color-fuente3);
    background-color: var(--color-fondo2);
}