.head tr {
    font-size: calc(1.8rem + 1vw);
    color: var(--color-fuente3);
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 25%;
}


thead th:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4) {
    width: 15%;
}

thead th:nth-child(5) {
    width: 30%;
}

.body,
tfoot {
    font-size: calc(0.8rem + 1vw);
    color: var(--color-fuente3);
    background-color: var(--color-fondo2);
}