.categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(1rem + 1vw);
    padding: 1rem;
}

.categoria {
    text-decoration: none;
    background-color: var(--color-fuente3);
    padding: 1rem;
    color: var(--color-fuente2);
    margin-right: 1rem;
}