.home {
    background-color: var(--color-fondo);
    border: 2px solid var(--color-fuente3);
    border-radius: 0.8rem;
    padding: 1rem 1rem;
    margin: 0.8rem auto;
}


.saludo {
    padding-bottom: 0.5rem;
}

.titulo {
    font-size: calc(4rem + 1vw);
    color: var(--color-fuente3);
    margin: 0;
    border-bottom: 2px solid var(--color-fuente3)
}


.txtHome {
    color: var(--color-fuente2);
    font-size: calc(1.4rem + 0.8vw);
    padding: 0 1rem;
}