.item {
    flex-basis: calc(25%);
    background-color: var(--color-fondo2);
    padding: 1rem;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.img-lista {
    width: 80%;
    background-color: none;
    margin-bottom: 0.1rem;
}

.txt-lista {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-fuente2);
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 00.5rem;
    border: none;

}

.txt-lista a {
    text-decoration: none;
    color: var(--color-fuente3);
    flex-basis: calc(60% - 3px);
}

.txt-lista p {
    flex-basis: calc(40% - 3px);
}


.txt-lista a:hover {
    color: var(--color-fondo);

}

.txt-lista a,
.txt-lista p {
    font-size: calc(1.5rem + 1vw);
}

.precio-lista {
    background-color: var(--color-fuente3);
    padding: 0.8rem 2rem;
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    color: var(--color-fuente2);
    border-radius: 2rem;
    margin: 0;
}