.nav-menu {
    background-color: var(--color-fondo);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-menu-items {
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 0;
}

.navmenu-link {
    list-style: none;
    font-size: calc(2.3rem + 1vw);
}

.navmenu-link a {
    color: var(--color-fuente2);
    text-decoration: none;
}

.category-list {
    display: flex;
    flex-direction: column;

    align-items: right;
    margin: 1rem 0;
}

.sub-enlace {
    font-size: calc(1.6rem + 1vw);
}