.nav-menu {
    background-color: var(--color-fondo);
    width: calc(28rem + 1vw);
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 1;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

@media (min-width: 610px) {
    .nav-menu.active {
        left: -100%
    }
}

.nav-menu-items {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 0;
}

.close {
    text-align: right;
    color: var(--color-fuente3);
}

.navmenu-link {
    list-style: none;
    font-size: calc(2.3rem + 1vw);
}

.navmenu-link a {
    color: var(--color-fuente2);
    text-decoration: none;
}

.category-list {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0;
    padding-left: 2rem;
}

.sub-enlace {
    font-size: calc(1.6rem + 1vw);
}

.divisor {
    border-bottom: 2px solid var(--color-fuente3);
}