.user-data {
    text-align: left;
    font-size: calc(1.6rem + 1vw);
    color: var(--color-fuente2)
}

.user-data li {
    list-style: none;
}

.dato {
    color: var(--color-fuente3);
    font-size: calc(1.8rem + 1vw);
}

.user-options {
    display: flex;
    justify-content: space-evenly;

}

.user-options h4:hover {
    cursor: pointer;
}

.selected {
    color: var(--color-fuente3);
}

.compra {
    padding: 0;
    text-align: left;

}

.compra li {
    list-style: none;
}

.ali-left {
    padding: 0;
    list-style: none;
    text-align: left;
}