.navbar {
    border-bottom: 2px solid var(--color-fuente3);
    height: (4.5rem, 1vh);
    background-color: rgba(0, 0, 0, 0.5);

}

.cont-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: var(--color-fuente2);
    font-size: calc(3rem + 1vw);
}

.navbar-ul {
    display: flex;
    justify-content: flex-end;
}

.enlace {

    list-style: none;
    margin-right: 1rem;
}

.enlace a,
.enlace {
    color: var(--color-fuente2);
    text-decoration: none;
    font-size: calc(2rem + 1vw);
    padding: 0.4rem;
}



.activeLink {
    color: var(--color-fuente3);
    border: 2px solid var(--color-fuente3);
    background-color: var(--color-fondo);
}

@media (max-width: 768px) {
    .hide {
        display: none;
    }

}

@media (min-width: 768px) {
    .burguer {
        display: none;
    }
}