.navbar{
    color: var(--color-fuente);
    border-bottom: 2px solid var(--color-fuente3);
    height: (4.5rem, 1vh);
    background-color: rgba(0, 0, 0, 0.5);

}

.cont-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: var(--color-fuente);
    font-size: calc(3rem + 1vw);
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
}

.navbar ul li{
    list-style: none;
    margin-right: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    font-size: calc(2rem + 1vw);
    padding: 0.4rem;
}

@media (max-width: 768px) {
    .enlace{
    display: none;

    }
}

.activeLink{
    color: var(--color-fuente3);
    border: 2px solid var(--color-fuente3);
    background-color: rgba(255, 255, 255, 0.1);
}
