.item-count {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.btn {

    border: 1px solid var(--color-fuente3);
    border-radius: 2rem;
    background-color: var(--color-fuente3);
    color: var(--color-fuente);

    padding: 1rem;
}

.btn-contador {
    width: 50%;
    margin: 0;
    padding: 0.6rem 1rem;
}

.btn-suma,
.btn-resta {
    background-color: var(--color-fuente3);
    color: var(--color-fuente);
    border: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 21%;

}

.btn-resta {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

}

.btn-suma {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn-resta:focus,
.btn-suma:focus,
.btn {
    outline: none;
}

.barra::-webkit-inner-spin-button,
.barra::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.barra {
    -moz-appearance: textfield;
    margin: 0;
    width: 58%;
    color: var(--color-fuente3);
    background-color: var(--color-fuente2);
    text-align: center;
}