.producto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-productos {
    width: 80px;
}


.texto-producto {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}