.item-count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}


.btn {
    font-family: 'Bebas Neue';
    border: 1px solid var(--color-fuente3);
    border-radius: 2rem;
    background-color: var(--color-fuente3);
    color: var(--color-fuente2);
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: calc(0.8rem + 1vw);
    height: 100%;
    margin-left: 1rem;
}

.cantidad-btn {
    font-size: calc(1.5rem + 1vw);
    color: var(--color-fuente2);
}

.btn-contador {

    font-family: 'Bebas Neue';
    width: 60%;
    align-items: center;
    display: flex;
    font-size: calc(1rem + 1vw);
}




.btn-suma,
.btn-resta {
    background-color: var(--color-fuente3);
    color: var(--color-fuente);
    border: none;
    margin: 0;
    align-items: center;
    width: 25%;
    padding: 0rem;
    height: 3.5rem;
}

.btn-resta {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

}

.btn-suma {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn-resta:focus,
.btn-suma:focus,
.btn {
    outline: none;
}

.btn-resta:hover,
.btn-suma:hover {
    cursor: pointer;
}


.barra::-webkit-inner-spin-button,
.barra::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.barra {
    -moz-appearance: textfield;
    margin: 0;
    width: 30%;
    color: var(--color-fuente3);
    text-align: center;
    height: 3.5rem;
    padding: 0;
}

.btn-add {
    flex-grow: 1;
}