.bordes {
    border: 2px solid var(--color-fuente3);
    border-radius: 0.8rem;
}


.lista-prod {
    display: flex;
    justify-content: center;
    align-self: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.item {
    flex: 0 1 calc(85%);
}

@media only screen and (min-width: 558px) {
    .item {
        flex-basis: calc(50% - 1rem);
    }
}

@media only screen and (min-width: 768px) {

    .lista-prod {
        justify-content: flex-start;
    }

    .item {
        flex-basis: calc(33% - 1rem);
    }
}

@media only screen and (min-width: 998px) {
    .item {
        flex-basis: calc(25% - 1rem);
    }
}